.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--primary);
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    will-change: transform, width, height;
}

@media (max-width: 900px) {
    .cursorContainer {
        display: none;
    }
}